body {
  background-color: #F5F5F1;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px; }

div {
  display: inline-block; }

.firstHeader, .secondHeader {
  width: 100%;
  height: 50px;
  border: 1px solid #E1E3DF;
  padding-bottom: 10px;
  display: inline-block;
  background-color: white; }

.firstHeader {
  padding-bottom: 30px;
  padding-top: 10px; }

.topNav {
  display: inline-block;
  padding-left: 100px; }
  .topNav li {
    display: inline-block; }

.searchBar {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 3px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 1px 2px #E9E9E8, 0 0 0 1000px #fbfbfa inset;
  overflow: hidden;
  padding: 7px 10px;
  height: 20px; }

.searchBtn {
  background-color: #34A8C4;
  border-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px; }

.cartBox {
  border-left: 1px solid #E1E3DF;
  padding-right: 60px;
  padding-top: 10px; }
  .cartBox ul {
    list-style: none;
    padding-left: 5px;
    margin: 0; }
  .cartBox .cartImg {
    opacity: .5;
    height: 20px;
    width: 20px;
    padding-bottom: 5px; }

.cartImg:hover {
  opacity: 1; }

.secondHeader ul {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px; }
  .secondHeader ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px; }
  .secondHeader ul li:hover {
    border-bottom: 3px solid #F76400; }

.etsy {
  color: #F76400;
  font-family: 'Lora', serif;
  font-size: 3em;
  padding-right: 20px;
  padding-left: 100px; }

.sideBarContainer {
  width: 242px;
  height: 100%;
  border: 1px solid #E1E3DF;
  padding-left: 100px;
  padding-top: 100px; }
  .sideBarContainer ul {
    list-style: none;
    padding-left: 0; }
    .sideBarContainer ul a {
      text-decoration: none;
      color: #0096BA; }

.showResults {
  padding-bottom: 10px; }

.sideBar {
  width: 242px;
  height: 406px;
  border: 1px solid #E1E3DF;
  background-color: white;
  margin-bottom: 50px;
  padding-top: 10px; }
  .sideBar ul li {
    color: #0096BA;
    font-size: .9em;
    padding: 5px; }

.sideBar2 {
  width: 242px;
  height: 647px;
  border: 1px solid #E1E3DF;
  background-color: white; }

.filter {
  width: 100%; }
  .filter ul {
    list-style: none;
    padding-left: 10px; }
    .filter ul li {
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      display: inline-block;
      border-radius: 5px; }

.red {
  background-color: red; }

.orange {
  background-color: orange; }

.yellow {
  background-color: yellow; }

.green {
  background-color: #47B194; }

.blue {
  background-color: #47B3E6; }

.purple {
  background-color: #A700F7; }

.black {
  background-color: #000000; }

.white {
  background-color: #FFFFFF; }

.sidebarPrice {
  float: left;
  width: 100%; }

.priceInput {
  height: 38px; }

.scriptContainer {
  width: 65%;
  height: 100%;
  display: inline-block;
  float: right;
  padding-top: 90px;
  padding-right: 90px; }

.box {
  font-size: .8em;
  border: 1px solid #E1E3DF;
  border-top: none;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 3px;
  display: inline-block;
  margin-right: 30px;
  height: 230px;
  width: 230px;
  float: right;
  display: inline-block;
  overflow: hidden;
  margin-top: 10px; }

img {
  width: 100%;
  margin-bottom: -10px;
  overflow: hidden; }

.title {
  width: 230px;
  padding-top: 10px;
  padding-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.shopName {
  color: #B6B6B6; }

.price {
  float: right;
  padding-right: 10px;
  color: #7BC440; }
