$border:1px solid #E1E3DF;
$concrete: #F5F5F1;

body{
  background-color: $concrete;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


div{
  display: inline-block;
}

.firstHeader, .secondHeader {
  width: 100%;
  height: 50px;
  border: $border;
  padding-bottom: 10px;
  display: inline-block;
  background-color: white;
  float: left;
 
}

.firstHeader{
  padding-bottom: 35px;
  padding-top: 10px;
  position: relative;
  border-bottom: 0;
}

.secondHeader{
  padding-top:10px;
}



.topNav{
  display: inline-block;
  padding-left: 280px;

    li{
      display: inline-block;
      color: #0192B5;
      font-size: 14px;
      padding-right: 10px;

  }
  li:hover{
    text-decoration: underline;
    color:#0192B5;
  }
}

.signIn{
  border:1px solid;
  padding: 8px;
  border-radius: 3px;
  background-color: white;
}

.signIn:hover{
  background-color: #00FD00;
}



.searchContainer{
  position: absolute;
  top: 20px;
  left: 200px;
}

.searchBar{
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: inset 0 1px 2px #E9E9E8, 0 0 0 1000px #fbfbfa inset;
    overflow: hidden;
    padding: 7px 10px;
    height: 20px;
    width: 238px;
}

.searchBtn{
  background-color: #34A8C4;
  color: #FFF;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
}

.cartBox{
  border-left: $border;
  padding-right: 60px;
  padding-top: 5px;
  position: absolute;
  top: 25px;
  opacity: .5;
  font-size: 12px;
  position: absolute;
  right: 130px;
  top: 30px;


    ul{
      list-style: none;
      padding-left: 5px;
      margin: 0;
    }

    .cartImg{
      height: 20px;
      width: 20px;
      padding-bottom:5px;
    }
}

.cartBox:hover{
  opacity:1;
}


.secondHeader{

    ul{
      list-style: none;
      display: inline-block;
      padding-left: 0;
      margin-left: 12%;
      margin-right: 10%;
      padding-top: 5px;

        li{
          display: inline-block;
          padding-right: 10px;
          padding-left: 10px;
          padding-bottom: 20px;
          color: #666;

        }

        li:hover{
          border-bottom: 3px solid #F76400;
        }

    }

}

.etsy{
  color: #F76400;
  font-family:'Lora', serif;
  font-size: 3em;
  padding-right: 20px;
  padding-left: 100px;
  position: absolute;
  top: 20px;
}



.sideBarContainer{
  width: 242px;
  height: 100%;
  border: $border;
  padding-left: 100px;
  padding-top: 30px;
    ul{
      list-style: none;
      padding-left: 0;

        a{
          text-decoration: none;
          color:#0096BA
        }
    }
}



.showResults, .refineYour{
  padding-bottom: 10px;
  float:left;
  font-weight: bold;
  font-size: 14px;

}

.heading{
  font-weight: bold;
  font-size: 14px;
}

.sideBar{
  width: 242px;
  height: 406px;
  border: $border;
  background-color: white;
  margin-bottom: 50px;
  padding-top:10px;
    ul{
      padding-left: 10px;

      li{
        color: #0096BA;
        font-size: .9em;
        padding: 5px;
      }
    }
}


.sideBar2{
  width: 242px;
  height: 647px;
  border: $border;
  background-color: white;
}


.section {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #E1E3DF;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 20px;
    li{
      color: #0192B5;
        }
    .blackBold{
        color: black;
        font-weight: bold;

      }
    }

.refineYour div ul li .blackBold {
 font-weight: bold;
}

.filter ul{
      list-style: none;
      padding-left:10px;

      li{
        height:20px;
        width: 20px;
        border: $border;
        display: inline-block;
        border-radius: 5px;
      }
}

.red{
  background-color:red;
}
.orange{background-color:orange;}
.yellow{background-color:yellow;}
.green{background-color:#47B194;}
.blue{background-color:#47B3E6;}
.purple{background-color:#A700F7;}
.black{background-color:#000000;}
.white{background-color:#FFFFFF;}


select{
  border-color: #adaeaa;
  width: 100%;
  font-size: 14px;
  height: 36px;
  background: white;
  border-radius: 3px;
}

.sidebarPrice{
  position: relative;
  float: left;
    li{
      display:inline-block;
      color: black;
    }
  }

.money{
  position: absolute;
  top: 60px;
  right: 110px;
}

.money2{
  position: absolute;
  top: 60px;
  left: 10px;
}

.priceInput{
  width: 36px;
  height: 18px;
  padding-left: 22px;
  padding-right: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

.priceBtn{
  padding: 13px 16px;
  padding-top: 23px;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  background-color: white;
  position: relative;
}

.priceBtn:hover{
  background-color: $concrete;
}

.triangle{
width: 0;
height: 0;
border-style: solid;
border-width: 8.5px 0 8.5px 12.5px;
border-color: transparent transparent transparent #555555;
position: absolute;
top:  10px;
left: 11px;
}


.scriptContainer{
  width: 65%;
  height: 100%;
  display: inline-block; 
  float: right; 
  padding-top: 20px;
  padding-right: 90px;
  border: 1px solid black;
  
}
.rev{
  height: 100px;
  float: right;
  width: 100%;
}

.relevancy{
  border: none;
  width: 80px;
  float: right;
  height: 100%;
  padding: 10px;
  margin-right: 35px;
  display: inline-block;
}

.scriptHeader{
  width: 100%;
    ul{
        margin: 0;

      li{
        display: inline-block;
      }
    }
      .sort{
       display: inline;
       // float: right;
    
    }
  
}


.box{
  font-size: .8em;
  border: $border;
  border-top: none;
  border-radius: 5px;
  background-color: white;
  padding-bottom:3px;
  display: inline-block;
  margin-right: 30px;
  height: 230px;
  width: 230px;
  float: right; 
  display: inline-block;
  overflow: hidden;
  margin-top: 10px;

}

img{

  width: 100%;
  margin-bottom: -10px;
  overflow: hidden;
}



.title{
  width: 230px;
  padding-top: 10px;
  padding-bottom: 15px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.shopName{
  color: #B6B6B6;
}

.price{
  float: right;
  padding-right: 10px;
  color:#7BC440;
}


  



