<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class='wrapper'>

<div class='firstHeader'>

  <div class="etsy">Etsy</div>
  <input text="a;fds"></input>

</div>

<div class='secondHeader'></div>

<div class='sideBar'></div>
<div class='sideBar2'></div>


<div class="contentContainer">



<script type="text/template" id="itemTemplate">
<div class="box">



          
      <div class="description">
          
      <img src="<%= Images[0].url_170x135 %>" alt="hi">

        <div class="title">
          <%= title %>
        </div>
        
    

        <div class="shopName">
          <%= Shop.shop_name %>
        </div>


        <div class="price">
          <%="$"+price %><%=" "+currency_code %>
        </div>

      </div>



    </div>
  </div>
</div>
</script>


  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/etsyPayload.js"></script>
  <script src="js/main.js"></script>
</div>
</div>
</body>
</html>